body{
	padding:0;
	margin:0;
}
header{
	background-color: black;
	color: white;
}
.style{
	font-size:10px;
	line-height:0;
	color: white;  
	float:left; 
	margin-left: 0px; 
	text-transform: uppercase;
}
.head{
	padding: 10px;
	height:80px;
	display:flex;
	flex-wrap:wrap;
	color:skyblue;
	font-family: Georgia, serif;
}
.head img{
	width: 100px;
	height:100px;
}
.head h2{
	margin: auto 0;
}
.icons{
	text-align:right;
	flex-grow: 1;
}
.icons i {
    	margin:0 7px;
		cursor:pointer;
		
}
.topnav {
  overflow: hidden;
}

.topnav a {

  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: skyblue;
  color: white;
}

.topnav a.active {
  background-color: skyblue;
  color: white;
}
.breakingnews{
	padding:0 30px;
	display:flex;
	height:40px;
}
#btext{
	width:200px;
	font-size:20px;
	color:blue;
	margin: auto 0;
}
.breaking{
	padding:0 30px;
	color:white;
	display:inline-block;
}
.image-resize{
	width:300px;
	height:300px;
	object-fit:cover;
	
}
.breakingnews:hover{
	color: var(--colorGreen);
	cursor:pointer;
}
.time{
	display:inline-block;
	color: Violet;
	padding:0 10px;
	font-size:20px;
}
*{
	box-sizing:border-box;
}
body{
	font-family:times new roman;
	
}
#popular-news{
	display:flex;
	margin:10px;
}
#popular-news h2{
	margin:0;
	padding:2px;
	color:black;
}

#news h2{
	background-color:skyblue;
}
#news p{
	color:black;
	font-weight:bolder;
	font-size:20px;
}
.box {
  width:99%;
  padding: 20px;
  margin: 10px;
}
.column {
  margin:10px;
  float: left;
  width: 490px;
  padding:20px;
  height: 400px; 
  color:white;
  display:table-cell;
  }
.row {
  margin:20px;
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
 
}
img {
  float: left;
  margin:10px;
}
aside {
      float: right;
      color: white;
      padding: 5px;
      margin: 20px;
	  text-align:left;
    }
.footer {
  padding: 20px;
  text-align: left;
  background:black;
  color:white;
}